<div class="header">
  <div class="container">

    <a href="#" class="logo">
      <img alt="logo" class="logo__img"
           src="https://upload.wikimedia.org/wikipedia/commons/archive/a/ab/20090915211812%21Simbolo_konoha.svg">
      <div class="logo__title">Video Course</div>
    </a>
    <div class="auth">
      <a class="login-btn" href="#">
        <div>
          <img alt="log in" src="https://www.svgrepo.com/show/3130/user.svg">User login </div>
      </a>
      <a class="logout-btn" href="#">
        <div>
          <img alt="log out" src="https://www.svgrepo.com/show/3130/user.svg">Log out </div>
      </a>
    </div>

  </div>
</div>


