.footer {
  display: flex;
  align-items: center;
  background: #303240;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;

  .copyright-info {
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "SourceSansPro-Regular", sans-serif;
    text-transform: none;
    height: 24px;
    position: absolute;
    right: 84px;
  }
}
