<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div>
    <input [(ngModel)]="searchQuery" class="search-input" placeholder="Type to search" type="text">
    <button (click)="handleSearch()" class="search-btn" type="submit"><label>Search</label></button>
  </div>
  <div class="btn-container">
    <button class="add-course-btn">
      <img alt="add course" src="https://svg-clipart.com/svg/sign/kDyFk8m-white-plus-vector.svg">
      <label>Add Course</label>
    </button>
  </div>
  <ul *ngIf="courseList?.length; else emptyList">
    <app-course (onDeleteClick)="handleDelete($event)" *ngFor="let course of courseList | orderBy; trackBy: trackById"
                [course]="course"></app-course>
    <li class="course-load"><a (click)="handleLoadMore()" href="#">Load more</a></li>
    <li class="course-load"><a (click)="handleRedefine()" href="#">Redefine Data</a></li>
  </ul>
</div>

<ng-template #emptyList>
  <h1>No data, feel free to add new course</h1>
</ng-template>
