

ul {
    list-style-type: none;
    padding: 0;
}

.search-input {
  border-radius: 3px;
  border: 1px solid #CED0DB;
  background: #FFFFFF;
  box-sizing: border-box;
  height: 36px;
  width: 240px;
  padding: 12px 9px;
  margin-top: 21px;
}

.search-btn {
  border-radius: 3px;
  background: #67A300;
  height: 36px;
  width: 73px;
  border: none;
  margin-left: 12px;


  label {
    cursor: pointer;
    line-height: 30px;
    letter-spacing: -0.08px;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "SourceSansPro-Semibold", sans-serif;
    text-transform: none;
    text-align: left;
    font-weight: 400;
    height: 30px;
    width: 41px;
  }

}

.btn-container{
  position: relative;
  height: 40px;


  .add-course-btn {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #009ECC;
    height: 36px;
    width: 111px;
    border: none;
    position: absolute;
    right: 5px;

    label {
      cursor: pointer;
      line-height: 24px;
      letter-spacing: -0.1px;
      color: #FFFFFF;
      font-size: 14px;
      font-family: "SourceSansPro-Semibold", sans-serif;
      text-transform: none;
      text-align: left;
      font-weight: 400;
      height: 24px;
      width: 90px;
    }

    img {

      margin-right: 5px;
      height: 16px;
      width: 16px;
    }
  }

  }

.course-load {
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.10), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  a {
    all: revert;
  }
}




