<div class="courses-list">
  <div class="container">
    <div>
      <input class="search-input" placeholder="Type to search" type="text">
      <button class="search-btn" type="submit"><label>Search</label></button>
    </div>
    <div class="btn-container">
    <button class="add-course-btn">
      <img src="https://svg-clipart.com/svg/sign/kDyFk8m-white-plus-vector.svg" alt="add course">
      <label>Add Course</label>
    </button>
    </div>
    <ul>
      <app-course></app-course>
      <li class="course-load"><a href="#">Load more</a></li>
    </ul>

  </div>
</div>
