.course-card {
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.10), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
  padding: 25px 23px;
  margin-bottom: 24px;

  .course-info {
    display: flex;
    justify-content: space-between;
  }


  .course-title {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 24px;
    font-family: "SourceSansPro-Semibold", sans-serif;
    text-transform: none;
    text-align: left;
    font-weight: 600;
    height: 31px;
  }

  .course-time {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    letter-spacing: 0;
    color: #858997;
    font-size: 14px;
    font-family: "SourceSansPro-Regular", sans-serif;
    text-transform: none;
    text-align: left;
    width: 198px;

    img {
      margin-right: 5px;
      height: 12px;
      width: 12px;
    }
  }

  .course-description {
    line-height: 18px;
    letter-spacing: 0;
    color: #474A59;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    width: 876px;
    font-family: "SourceSansPro-Regular", sans-serif;
  }

  .course-controls {
    display: flex;
    justify-content: space-between;
    width: 158px;

    button {
      display: flex;
      align-items: center;
      height: 24px;
      width: 72px;
      background: #009ECC;
      border-radius: 3px;
      border: none;
      line-height: 12px;
      letter-spacing: -0.1px;
      color: #FFFFFF;
      font-size: 12px;
      text-transform: none;
      text-align: left;


      .edit {
        width: 60px;
      }

      img {
        width: 10px;
        height: 10px;
        margin-right: 5px;
      }
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}
