<li class="course-card" [appBorder]="course?.creationDate " [ngClass]="{TopRated: course?.TopRated}">
  <div class="course-info">
    <h2 class="course-title">
      {{course?.title | uppercase}}
      <img src="./assets/icons/star.svg" alt="Top Rated" *ngIf="course?.TopRated">
    </h2>
    <div class="course-time">
      <p><img src="https://www.svgrepo.com/show/8869/clock.svg" alt="duration">{{course?.duration | duration}}</p>
      <p><img src="https://www.svgrepo.com/show/7168/calendar.svg" alt="date">{{course?.creationDate | date:'mediumDate'}}</p>
    </div>
  </div>
  <div class="course-info">
    <div class="course-description">
      {{course?.description}}
    </div>
    <div class="course-controls">
      <button class="edit"><img alt="edit"
                                src="https://www.svgrepo.com/show/22981/trash-can.svg"
                                (click)="onEditClick(course.id)">edit</button>
      <button (click)="handleDelete(course.id)">
        <img alt="delete" src="https://www.svgrepo.com/show/56967/edit.svg">delete</button>
    </div>
  </div>
</li>
